/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #171023;
    --color01: #c591d4;
    --color02: #b0b1f4;
    --color03: #ddb3ed;
    --color04: #9ca1e6;
    --color05: #d99ad8;
    --color06: #b4b5f7;
    --color07: #debfe6;
    --color08: #5d5378;
    --color09: #e8b5fb;
    --color10: #c3bfff;
    --color11: #f2bdff;
    --color12: #c5c7ff;
    --color13: #f4b7f9;
    --color14: #c6c2ff;
    --color15: #f2caff;
}
